<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #search {
            text-align: center;
        }

        body {
            background-color: lemonchiffon;
        }

        #text {
            text-align: center;
        }

        table {
            height: 70%;
            width: 70%;
            border-collapse: collapse;
            border: 4px solid black;
        }
        #delall{
            text-align: center;
            border-style: solid;
            border-radius: 3px;
            width: 80px;
           
        }
        #del_1{
            text-align: center;
            border: 1px solid black;
            margin: 2px;
        }
      
    </style>
</head>

<body>

    <h1 id="text"> Search Users</h1>
    <div id="search">
        <form action="/sanjay" method="get">
            <input type="text" name="search" value="">
            <input type="submit" name="">
        </form>

        <p>
            <%= sanja %>
        </p>
    </div>

    <center> <p id="delall" onclick="deleteall()"> delete all</p></center>
    <table border="1" align="center" id="table">
        <tr>
            <td>deleteall</td>
            <td>id</td>
            <td>^</td>
            <td>%</td>
            <td>,</td>
            <td>:</td>
            <td>;</td>
            <td>=</td>
            <td>+</td>
            <td>delete</td>
        </tr>
        <tr>
            <td>deleteall</td>
            <td>id</td>
            <td>f_name</td>
            <td>l_name</td>
            <td>city</td>
            <td>state</td>
            <td>gender</td>
            <td>relation</td>
            <td>designation</td>
            <td>delete</td>
        </tr>
        <% for(let j=0;j<data.length ;j++) {%>
            <tr id="<%= data[j].id%>">
                <td><input class="del_all" type="checkbox" value="<%= data[j].id%>"></td>
                <td>
                    <%= data[j].id%>
                </td>
                <td>
                    <%= data[j].f_name%>
                </td>
                <td>
                    <%= data[j].l_name%>
                </td>
                <td>
                    <%= data[j].city%>
                </td>
                <td>
                    <%= data[j].state%>
                </td>
                <td>
                    <%= data[j].gender%>
                </td>
                <td>
                    <%= data[j].relation%>
                </td>
                <td>
                    <%= data[j].designation%>
                </td>
                <td> <center><span id="del_1" onclick="delete1('<%= data[j].id%>')"> del</span></center></td>
                <td><span id="edit" onclick="edit('<%= data[j].id%>')">Edit</span></td>
                <% };%>
            </tr>
    </table>
    

    <script>


        async function delete1(id) {
            console.log(id)
            if (confirm(`You are sure delete ${id} `)) {
                document.getElementById(`${id}`).style.display = 'none';
                const ans = await fetch(`http://localhost:4400/delete-api?del_1=${id}`);
            }
        }

        async function deleteall() {
            // console.log('sanjay');
            del = [];
            var san = document.getElementsByClassName('del_all');

            for (let i = 0; i < san.length; i++) {

                if (san[i].checked) {
                    del.push(san[i].value)
                }
 
            }
       
            if (confirm(` are you sure delete ?`)) {
                del.forEach(id => {
                    document.getElementById(`${id}`).style.display = 'none';
                });
                const ans = await fetch(`http://localhost:4400/deleteall-api?del_all=${del}`);
            }

        }
    </script>
</body>

</html>