<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>City</p>
   <span><%- combo1 %></span>
   <p>State</p>
   <span><%- combo2 %></span>
   <p>Relation_status</p>
   <span><%- combo3 %></span>
   <p>Cource</p>
   <span><%- combo4 %></span>
   <p>Prefered_location</p>
   <span><%- combo6 %></span>
   <p>Department</p>
   <span><%- combo7 %></span>
   <p>Language</p>
   <span><%- combo8 %></span>
   <p>Technology</p>
   <span><%- combo9 %></span>

</body>
</html>